// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');
$font-family: 'Source Sans Pro', sans-serif;

// COLORS
$background-color: #fff;
$text-primary: #000;
$text-light: #fff;
$text-muted: #7d7d7d;
$color-green-primary: #0d9206;
$color-green-secondary: #789376;
$color-accent: #ff8800;

// BREAKPOINTS
$x-small: 460px;
$small: 576px;
$medium: 715px;
$large: 880px;
$x-large: 955px;
$xx-large: 1200px;

